.navbar{
    padding: 0;
    margin: 10;
    background-color: #0A0A0A;
    height: 82px;
    width: 100%;
}

.navbar-logo{
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-brand{
    padding-left: 150px;
}

.nav-link{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}

#navbarNav{
    justify-content: end;
    margin-right: 150px;
    width: 30%;
}

h2{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h3{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
