/* NavBar syling */
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f8f8f8;
}

.navbar {
	padding: 0;
	margin: 10;
	background-color: #0a0a0a;

	height: 82px;
	width: 100%;
}

.navbar-logo {
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: #FFCD19;
	}

#navbarNav {
	justify-content: end;
	width: 30%;
}

h2 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 300;
}

/* Category styling */
.category-links {
	height: 290px;
	background-color: #404040;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category-links {
	text-decoration: none;
}


.category-cards{
    justify-content: space-around;
    width: 300px;
    background-color: #404040;
    color: #FFF;
    border-radius: 0;
    border-width: 2px;
    border-color: #FFF;
    border-bottom-width: 4px;
    border-bottom-color: #FFCD19;
}

.category-card-title{
    font-weight: 800;
}


.category-image {
	width: 64px;
}

.category-image-constainer {
	display: flex;
	justify-content: end;
}

/* Carousel */
.carousel {
	margin: 20px 0px;
	display: flex;
}

.carousel-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	/* height: 800px; */

}

#carouselExampleAutoplaying-text {
	margin: 0;
	padding: 0;
	position: absolute;
	justify-self: end;
	right: 0px;
	background-color: #0a0a0a;
	height: 400px;
	color: #fff;
}

.carousel-images {
	display: flex;
	align-items: center;
	width: 100%;
	height: 700px;
}


.carousel-text{
    display: flex;
    align-items:center;
    padding-left: 30px;


.carousel-button {
	background-color: #a62639;
	color: #fff;
}

.carousel-button:hover{
    background-color: #A62639;
    color: #FFCD19;
}
