/* NavBar syling */

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f8f8f8;
}

.navbar {
	padding: 0;
	margin: 10;
	background-color: #0a0a0a;

	height: 82px;
	width: 100%;
}

.navbar-logo {
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: #ffcd19;
}

#navbarNav {
	justify-content: flex-end;
	width: 30%;
}

h2 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 300;
}

/* Category styling */
.category-links {
	height: 290px;
	background-color: #404040;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category-links {
	text-decoration: none;
}

.category-cards {
	justify-content: space-around;
	width: 300px;
	background-color: #404040;
	color: #fff;
	border-radius: 0;
	border-width: 2px;
	border-color: #fff;
	border-bottom-width: 4px;
	border-bottom-color: #ffcd19;
}

.category-cards:hover {
	border-color: #a62639;
}

.category-card-title {
	font-weight: 800;
}

.category-image {
	width: 64px;
}

.category-image-constainer {
	display: flex;
	justify-content: flex-end;
}

/* Carousel */
.carousel {
	margin: 20px 0px;
	display: flex;
}

.carousel-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	/* height: 800px; */
}

#carouselExampleAutoplaying-text {
	margin: 0;
	padding: 0;
	position: absolute;
	justify-self: flex-end;
	right: 0px;
	background-color: #0a0a0a;
	height: 400px;
	color: #fff;
}

.carousel-images {
	display: flex;
	align-items: center;
	width: 100%;
	height: 700px;
}

.carousel-text {
	display: flex;
	align-items: center;
	padding-left: 30px;
}

.carousel-button {
	background-color: #a62639;
	color: #fff;
}

.carousel-button:hover {
	background-color: #a62639;
	color: #ffcd19;
}

.carousel-model-content {
	background-color: #404040;
	color: #fff;
}
.carousel-model-title {
	font-weight: 800;
	color: #fff;
}

.carousel-model-image {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
}

.carousel-model-text {
	padding: 20px 20px;
}

/* Boards page*/

.navigation-strip {
	height: 30px;
	background-color: #a62639;
	color: #fff;
	display: flex;
	align-items: center;
}

.navigation-strip-text {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.navigation-strip-text div {
	margin-right: 12px;
}

a {
	text-decoration: none;
	color: #fff;
}

.posts-container {
	padding-top: 10px;
}

.filter-selection {
	text-align: center;
}

.filter-header:not(.collapse) {
	background-color: #404040;
	color: #fff;
}

.clearFilters {
	margin-top: 10px;
	background-color: #ffcd19;
	color: #0a0a0a;
}

.clearFilters:hover {
	background-color: #ffcd19;
	color: #fff;
}

.stick-offset {
	top: 84px;
}

.search-bar {
	background-color: #404040;
	border-radius: 10px;
	padding: 10px;
	color: #fff;
	position: absolute;
	/* top: 0px; */
}

.post-task-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.status-task-buttons {
	width: 100%;
	margin-right: 5px;
}

.idStatusDisplay {
	font-size: 0;
}

.btn-red {
	background-color: #a62639;
	color: whitesmoke;
	transition: 0.3s;
	margin-top: 10px;
}

.btn-red:hover {
	background-color: #a62639;
	color: whitesmoke;
}
.h2-black {
	color: #0a0a0a;
}
